/*This is based on dryan's css-smart-grid: https://github.com/dryan/css-smart-grid 
He is a BOSS*/
@media (min-width: 760px) {
  .columns {
    float: left;
    margin: 0 0 0 2.127659574468085%;
    width: 6.3829787%;
  }
  .columns:first-child,
  .columns.first {
    margin-left: 0;
  }
  .columns.two {
    width: 14.893616974468085%;
  }
  .columns.three,
  .columns.one-fourth {
    width: 23.40425524893617%;
  }
  .columns.four,
  .columns.one-third {
    width: 31.914893523404253%;
  }
  .columns.five {
    width: 40.42553179787234%;
  }
  .columns.six,
  .columns.one-half {
    width: 48.936170072340424%;
  }
  .columns.seven {
    width: 57.44680834680851%;
  }
  .columns.eight,
  .columns.two-thirds {
    width: 65.95744662127659%;
  }
  .columns.nine,
  .columns.three-fourths {
    width: 74.46808489574468%;
  }
  .columns.ten {
    width: 82.97872317021276%;
  }
  .columns.eleven {
    width: 91.48936144468084%;
  }
  .columns.twelve,
  .columns.full {
    width: 99.99999971914895%;
  }
}
