@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.otf');
}
html,
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #4f4f4f;
  padding: 0;
  margin: 0;
}
.wrap {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
ul,
ol {
  margin-left: 20px;
  list-style-type: none;
}
header {
  background-color: #4f4f4f;
  border-bottom: 2px solid #c2a1d1;
}
nav ul {
  margin: 0;
}
nav ul li {
  float: left;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 25%;
  border-bottom: 2px solid #fafad2;
}
nav ul li a {
  color: #a5c0a1;
  text-decoration: none;
}
nav ul li a:hover {
  color: #fafad2;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  transition: color .2s linear;
}
nav ul li a:active {
  color: #fafad2;
}
.home img {
  float: left;
}
@media (min-width: 768px) {
  
}
@media (min-width: 960px) {
  .wrap {
    width: 960px;
  }
}
