<div id="twitter_div"><h3><a href="https://www.twitter.com/#!/conorsg" target="_blank">TWITTER:</a></h3><ul id="tweets"></ul></div>

<div id="toc">
	<h3>TABLE OF CONTENTS:</h3>
	<ul>
		{% for post in site.posts %}
		<li><a href="{{ post.url }}">{{ post.title }}</a> &#8212; {{ post.date | date: "%b %d %Y" }} </li>
		{% endfor %}
	</ul>
	<a href="http://kuvva.com/wallpapers/aa1213808dfc373ad8d0b257f15c7f0620120713190123" target="_blank" title="My current desktop background"><img src="/images/desktop.jpg"></a>
	<p style="text-align:center; font-size:85%;"><em>Kein Zweifel!</em></p>
	<div id="footer-img">
		<img src="/images/footer.png">
	</div>
</div>