<h3>Desktop wallpapers I have looked at</h3>
<p><em>This is a gallery of some of desktop wallpapers I've had on my computer over the years. Most of them came from either <a href="http://www.thefoxisblack.com/category/the-desktop-wallpaper-project/">the Desktop Wallpaper Project at the Fox is Black</a> or from <a href="http://kuvva.com/">Kuvva</a>, which you have to sign in to use. I'm not sure why. I've linked each of the thumbnails to the full version on whatever site it came from. I hope that satisfies everyone's intellectual property sensibilities.</em></p>

<div id="wallpaper-gallery">
	<div id="col-one">
		<a href="http://kuvva.com/wallpapers/aa1213808dfc373ad8d0b257f15c7f0620120713190123" target="_blank" title="My current desktop background"><img id="current-bg" src="/images/desktop.jpg"></a>
		<a href="http://kuvva.com/wallpapers/2a4e72c954f2258b2e1b65de6ce5471220110902031629" target="_blank"><img src="/images/bg/zweifel.jpg"></a>
		<a href="http://kuvva.com/wallpapers/45b09f6477de859a588f0792719de78120120713190748" target="_blank"><img src="/images/bg/cc_1.jpg"></a>
		<a href="http://kuvva.com/wallpapers/789cd68fbf6abd596deb7eeb9ba3591120111110050946" target="_blank"><img src="/images/bg/cfa_1.jpg"></a>
		<a href="http://kuvva.com/wallpapers/ca7291433a6ef48c451804d48fa8cc3220120713190314" target="_blank"><img src="/images/bg/cc_2.jpg"></a>
		<a href="http://www.thefoxisblack.com/2008/06/18/the-desktop-wallpaper-project-featuring-artur-neufeld/" target="_blank"><img src="/images/bg/an_1.jpg"></a>
		<a href="http://kuvva.com/wallpapers/c4ee6ccef00a70a3ed53a27484d2dd9a20111110051218" target="_blank"><img src="/images/bg/cfa_2.jpg"></a>
		<a href="http://www.thefoxisblack.com/2010/03/17/the-desktop-wallpaper-project-presents-diego-soprano/" target="_blank"><img src="/images/bg/ds_1.jpg"></a>
		<a href="http://www.thefoxisblack.com/2011/03/14/the-desktop-wallpaper-project-featuring-kim-h%C3%B8ltermand-day-one/" target="_blank"><img src="/images/bg/kh_1.jpg"></a>
	</div>
	
	<div id="col-two">
		<a href="http://kuvva.com/wallpapers/3aca517c93d9716411947c64eda7c93220111027083819" target="_blank"><img src="/images/bg/gd_1.jpg"></a>
		<a href="http://kuvva.com/wallpapers/60ae163c5044462574df7f71e111196220120120121942" target="_blank"><img src="/images/bg/jp_1.jpg"></a>
		<a href="http://kuvva.com/wallpapers/425f24ec99b6e4655b4d542b476a736e20110527041932" target="_blank"><img src="/images/bg/mp_1.jpg"></a>
		<a href="http://kuvva.com/wallpapers/4231a212af09466054328e7e899c6d3220111128075122" target="_blank"><img src="/images/bg/pp_1.jpg"></a>
		<a href="http://www.thefoxisblack.com/2009/11/04/the-desktop-wallpaper-project-by-alex-cornell/" target="_blank"><img src="/images/bg/ac_1.jpg"></a>
		<a href="http://www.thefoxisblack.com/2011/05/11/the-desktop-wallpaper-project-featuring-ben-newman/" target="_blank"><img src="/images/bg/bn_1.jpg"></a>
		<a href="http://kuvva.com/wallpapers/7e53405dcd0bf84e6245065951c6e5c020111110050709" target="_blank"><img src="/images/bg/cfa_3.jpg"></a>
		<a href="http://kuvva.com/wallpapers/fe127104ba7c2f4c2fe96b4d9cd8e13a20110911043100" target="_blank"><img src="/images/bg/ef_1.jpg"></a>
		<a href="http://www.thefoxisblack.com/2010/02/03/the-desktop-wallpaper-project-featuring-toro-y-moi/" target="_blank"><img src="/images/bg/tym_1.jpg"></a>
	</div>	
</div>